body {
    margin-left: 9mm;
    margin-top: 6mm;
}


TABLE.PhotoTable {
    font-family:  'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

    TABLE.PhotoTable .subheading {
        font-size: 1.3em;
        font-weight: bold;
    }


TABLE.PhotoTable tr td table tr td:first-child {
    width: 170px;
    padding-top: 2px; 
    padding-bottom: 2px;
    vertical-align: top;
}

TABLE.PhotoTable a {
 font-weight: bold;
}
TABLE.PhotoTable a:hover {
 color: red;
}

.heading_medium_blue {
    font-family:  'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: blue;
}