@{
    ViewBag.Title = "Author.Mobile";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
        <div style="width: 100%; text-align: center; padding-top: 8px;">
            <div>
            <img alt="Oscar 'Erik' Slotboom" src="@Url.Content("~/Images/Mobile/Oscar_Portrait_DSC00034_280.jpg")" />
                <br />
            <span style="font-size: 80%">2003 photo</span>
            </div>
        </div>
		<p>I'm a native Houstonian, born and raised in Sharpstown near the Southwest Freeway and a 1985 graduate of Sharpstown High School. 
            The history of the Southwest Freeway (US 59) and Sharpstown is the quintessential 1950s-1960s story of the rise of freeways and freeway suburbia, and is covered in detail in the "Spokes" chapter and the Southwest Freeway excerpt.
		</p>
        <p>
            I grew up always wanting to know more about the history of Houston's freeways but there was no comprehensive history, only occasional news reports and project-specific documents from TxDOT. In the 1980s
            I came across <em>L.A. Freeway</em>, a 1981 book which documented the history of Los Angeles freeways, and I thought to myself, "Someone needs to write the freeway history book for Houston."
        </p>

        <p>
            I received a BSME from Texas A&amp;M in 1989 and an MSME from UT-Austin in 1990, and I worked in the energy industry at the Schlumberger Sugar Land campus in the 1990s until I switched to the technology
            industry in 1998. When the high-tech bust hit in 2001-2002 I was indefinitely unemployed and I realized that I was the person to write the book.
        </p>
        <p>            
            <em><b>Houston Freeways, A Historical and Visual Journey</b></em>  was
            published in September 2003. Response to the book exceeded expectations, with all 5000 copies distributed by November 2004. 
            <a href="http://www.amazon.com/gp/offer-listing/0974160539/ref=dp_olp_0?ie=UTF8&condition=all"><b>Used book prices</b></a> have always been well above the original retail price for the new book ($35).
        </p>
        <p>
            The free download eBook was placed online in 2005 and in 2013 the book is still steadily viewed. In fact, interest in <em><b>Houston Freeways</b></em> remains much higher than my 2012 effort,
            <a href="http://www.dfwfreeways.com"><em><b>Dallas-Fort Worth Freeways, Texas-Sized Ambition</b></em></a>. Yes, Houston loves its freeways and I was glad to be able to document the history for everyone with interest in the subject, now and in the future.
        </p>
        <p>
        Erik Slotboom, January 2013

        </p>
