@{
    ViewBag.Heading = "Chapters";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}


<div data-role="collapsible-set" data-theme="a" data-content-theme="a">
	<div data-role="collapsible">
		<h2>1. Building the System</h2>
		<ul data-role="listview"  data-inset="true" data-divider-theme="a">

			<li>Before the Freeways</li>
			<li>Putting the Freeway System on the Map</li>
			<li>Building Local Support</li>
			<li>Crisis</li>
			<li>The Second Wave</li>
            <li>Building Better Freeways</li>
            <li>The Future of Houston's Freeways</li>
        </ul>
		<ul data-role="listview"  data-inset="true" data-divider-theme="a">
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH1_building_the_system_pp1-91_72.pdf">View PDF low resolution, 12 MB</a></li>
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH1_building_the_system_pp1-91_150.pdf">View PDF high resolution, 16 MB</a></li>
		</ul>
	</div>
	<div data-role="collapsible">
		<h2>2. Freeway Metropolis</h2>
		<ul data-role="listview" data-theme="a" data-divider-theme="a"  data-inset="true">
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH2_freeway_metropolis_pp92-115_72.pdf">View PDF low resolution, 4 MB</a></li>
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH2_freeway_metropolis_pp92-115_150.pdf">View PDF high resolution, 9 MB</a></li>
		</ul>
	</div>
	<div data-role="collapsible">
		<h2>3. Downtown Freeways</h2>
		<ul data-role="listview"  data-inset="true" data-theme="a" data-divider-theme="a">
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH3_downtown_freeways_pp116-141_72.pdf">View PDF low resolution, 5 MB</a></li>
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH3_downtown_freeways_pp116-141_150.pdf">View PDF high resolution, 14 MB</a></li>
		</ul>
	</div>
    <div data-role="collapsible">
		<h2>4. The Spokes</h2>

            <div data-role="collapsible">
                <h2>Gulf Freeway</h2>
 		        <ul data-role="listview" data-divider-theme="a">
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/Gulf_Freeway_72ppi.pdf">View PDF low resolution, 3 MB</a></li>
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/Gulf_Freeway_150ppi.pdf">View PDF high resolution, 8 MB</a></li>
		        </ul>               
            </div>
            <div data-role="collapsible">
                <h2>Southwest Freeway</h2>
 		        <ul data-role="listview" data-divider-theme="a">
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/Southwest_Freeway_72ppi.pdf">View PDF low resolution, 2 MB</a></li>
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/Southwest_Freeway_150ppi.pdf">View PDF high resolution, 7 MB</a></li>
		        </ul>               
            </div>
            <div data-role="collapsible">
                <h2>South Freeway</h2>
 		        <ul data-role="listview" data-divider-theme="a">
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/South_Freeway_72ppi.pdf">View PDF low resolution, 2 MB</a></li>
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/South_Freeway_150ppi.pdf">View PDF high resolution, 4 MB</a></li>
		        </ul>               
            </div>
            <div data-role="collapsible">
                <h2>LaPorte Freeway</h2>
 		        <ul data-role="listview" data-divider-theme="a">
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/LaPorte_Freeway_72ppi.pdf">View PDF low resolution, 1 MB</a></li>
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/LaPorte_Freeway_150ppi.pdf">View PDF high resolution, 4 MB</a></li>
		        </ul>               
            </div>
            <div data-role="collapsible">
                <h2>Katy Freeway</h2>
 		        <ul data-role="listview" data-divider-theme="a">
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/Katy_Freeway_72ppi.pdf">View PDF low resolution, 2 MB</a></li>
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/Katy_Freeway_150ppi.pdf">View PDF high resolution, 6 MB</a></li>
		        </ul>               
            </div>
            <div data-role="collapsible">
                <h2>North Freeway</h2>
 		        <ul data-role="listview" data-divider-theme="a">
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/North_Freeway_72ppi.pdf">View PDF low resolution, 1 MB</a></li>
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/North_Freeway_150ppi.pdf">View PDF high resolution, 4 MB</a></li>
		        </ul>               
            </div>
            <ul data-role="listview" data-inset="true" data-divider-theme="a">
                <li>The rest of the spokes</li>
            </ul>
            <div>
        	    <ul data-role="listview" data-inset="true" data-divider-theme="a">
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH4_spokes_pp184-271_72.pdf">Chapter PDF low resolution, 19 MB</a></li>
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH4_spokes_pp184-271_150.pdf">Chapter PDF high resolution, 50 MB</a></li>
		        </ul>
            </div>
	</div>
    <div data-role="collapsible">
		<h2>5. The Loops</h2>

            <div data-role="collapsible">
                <h2>Loop 610</h2>
 		        <ul data-role="listview" data-divider-theme="a">
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/Loop610_72ppi.pdf">View PDF low resolution, 3 MB</a></li>
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/Loop610_150ppi.pdf">View PDF high resolution, 8 MB</a></li>
		        </ul>               
            </div>
            <div data-role="collapsible">
                <h2>Beltway 8/Sam Houston Tollway</h2>
 		        <ul data-role="listview" data-divider-theme="a">
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/BW8_72ppi.pdf">View PDF low resolution, 2 MB</a></li>
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/BW8_150ppi.pdf">View PDF high resolution, 7 MB</a></li>
		        </ul>               
            </div>

        	    <ul data-role="listview" data-inset="true" data-divider-theme="a">
                    <li>SH 99, the Grand Parkway</li>
		        </ul>

            <div>
 
        	    <ul data-role="listview" data-inset="true" data-divider-theme="a">
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH5_loops_pp272-321_72.pdf">Chapter PDF low resolution, 6 MB</a></li>
                    <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH5_loops_pp272-321_150.pdf">Chapter PDF high resolution, 17 MB</a></li>
		        </ul>
            </div>
	</div>
	<div data-role="collapsible">
		<h2>6. Freeway Mass Transit</h2>
		<ul data-role="listview" data-theme="a" data-divider-theme="a"  data-inset="true">
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH6_freeway_mass_transit_pp322-339_72.pdf">View PDF low resolution, 3 MB</a></li>
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH6_freeway_mass_transit_pp322-339_150.pdf">View PDF high resolution, 6 MB</a></li>
		</ul>
	</div>
    <div data-role="collapsible">
		<h2>7. Bridges and Tunnels</h2>
		<ul data-role="listview" data-theme="a" data-divider-theme="a"  data-inset="true">
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH7_bridges_and_tunnels_pp340-375_72.pdf">View PDF low resolution, 3 MB</a></li>
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH7_bridges_and_tunnels_pp340-375_150.pdf">View PDF high resolution, 9 MB</a></li>
		</ul>
	</div>
    <div data-role="collapsible">
		<h2>8. The Freeway Journey</h2>
		<ul data-role="listview" data-theme="a" data-divider-theme="a"  data-inset="true">
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH8_freeway_journey_pp376-379_72.pdf">View PDF low resolution, .3 MB</a></li>
            <li><a href="http://www.oscarmail.net/houstonfreeways/ebook/CH8_freeway_journey_pp376-379_150.pdf">View PDF high resolution, .5 MB</a></li>
		</ul>
	</div>
</div>
