@{
    ViewBag.Title = "Houston Freeways Corrections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="PageTitle">Corrections and Updates</div>

		<table width="800px">
					
		<tr><td>
		<em>Last updated 10-February-2013</em>
		<P>
				<b>UPDATE  Pages 371-375:</b> Galveston-Bolivar Crossing <Br>
		Page 375 states: "Will the Galveston-Bolivar bridge be built? Only time will tell." Well, time has revealed the answer.
		On October 2, 2007, it was reported that TxDOT officially canceled efforts to construct the bridge. The project was still
		in the study, public involvement, and environmental impact phase when the cancellation occurred.
		 The <EM>Beaumont Enterprise</EM> reported the following on October 2, 2007:
		<p>
		<blockquote>
		Concerns about tolls, escalating inflation, environmental impact and exactly how high to build a bridge to connect Bolivar Peninsula to Galveston Island has prompted officials to nix the project.
<p></p>
"Everything was considered," Norm Wigington, Texas Department of Transportation spokesman, said of connecting Texas 87 by bridge. "All of it seemed to not be working out."
<p></p>
One price for the bridge was $240 million, and the Port of Houston at one time recommended the bridge rise 300 feet to clear incoming ships, he said during the phone interview.
<p></p>
One possible source of funding for such a mammoth project was to make it a toll bridge.
<p></p>
But if drivers had to pay a fee to cross the proposed bridge, ferries still would need to run as a free route, negating any savings of the $16 million spent annually for ferry operations, Wiginton said.
<p></p>
A new $16 million ferry has been ordered, and that sixth vessel is expected to join the fleet next year, he said.


</Blockquote>
		
		<P></P>

		<b>UPDATE  Pages 205, 215-216:</b> Katy Freeway project opposition <Br>
		The text discusses a lawsuit in opposition to the Katy Freeway project. The opposition 
		was seeking to stop the project to allow a reevaluation of the EIS, and the opposition
		also proposed a redesign of the freeway which was estimated by TxDOT to cost an additional $500 million
		and cause years of delay.
		On April 9, 2004, a federal court dismissed the lawsuit, clearing the final potential hurdle
		to the project. The <EM>Houston Chronicle</EM> reported the following on April 9:
		<p>
		<blockquote>
		Expansion of the Katy Freeway will proceed on schedule this summer after a federal judge on Friday denied a citizens group's petition asking for the project to be redesigned. 
		<P>
U.S. District Judge Kenneth Hoyt ruled that the Katy Corridor Coalition failed to prove its accusation that the Federal Highway Administration and the Texas Department of Transportation did not properly disclose the health effects associated with doubling the freeway's width. The coalition also unsuccessfully argued the agencies did not evaluate reasonable alternatives to an 18-lane freeway. 
<P>
The governments "followed all of the environmental rules and regulations imposed by federal law," Hoyt concluded in his 19-page opinion. "Although the plan adopted by the defendants is not supported by the plaintiffs, the result reached appears to be based on a reasoned choice." 
<P>
Hoyt dismissed the design presented by the coalition, a group of westside residents and businesses, which included a narrower highway depressed below ground with a MetroRail line running through the center and hundreds of trees planted above. 
<P>
(additional text follows)
</Blockquote>


		<P>
		<b>Page 77, left column:</b> I incorrectly stated 35E rather than 35W. <Br>
		"In September 1966, the Texas Transportation Institute installed a temporary telescoping high mast tower at the interchange of <b>IH 35W</b> and IH 820 in north Fort Worth." 

		<P>

		<b>Pages 104-106:</b> I incorrectly use the term cloverleaf when I should have used the term loop when referring to a connection in an interchange. A cloverleaf interchange includes all four loop connections. An interchange can contain loop connections but is not truly a cloverleaf unless it has all four loops.
		<P>
		So the text should read<br>
		"Many Los Angeles interchanges include <b>loop</b> connections for low-volume traffic movements... . During the entire history of Houston's freeway system, there has been only one <b>loop</b> connection in all the region's freeway-to-freeway interchanges. ... A few <b>loop</b> connections exist at freeway-to-highway intersections, mainly along older sections of freeway. However, two new <b>loop</b> connections will appear at the intersection of the Sam Houston Tollway and Westpark Tollway, scheduled for completion in 2004."
		<P>

		<b>Page 214, Biggest Freeways in North America table:</b> The table states that the expansion of the Lyndon B. Johnson Freeway in Dallas will include twin deep bored tunnels.
		The tunnels were canceled in November 2006 due to cost issues and replaced with an open trench in the center of the freeway with main lanes overhanging the sides of the trench.
		Large-scale construction was underway in 2011, with private firm Cintra and its partners paying most of the $2.7 billion project cost.
		<P>
		<b>Page 375:</b> The text reports the vertical clearance of the Golden Gate Bridge
		as 232 feet. I have not officially confirmed the correct clearance, but it
		appears that the clearance is actually 220 feet.
		</td></tr>										
		</table>
		<p>&nbsp;</p>

