@{
    ViewBag.Title = "Houston Freeways Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="PageTitle">Video</div>

<table cellspacing="0" cellpadding="0" class="VideoTable">

    <tr class="whiteBackground">
        <td colspan="4"></td>
        <td ><img src="@Url.Content("~/Images/Desktop/windows_media_logo.gif")"></td>
    </tr>

    <tr class="subheading">
        <td colspan="5"><span>Houston</span></td>
    </tr>

    <tr>
        <td>
            <b>I-610</b><br>
            West Loop 
		
        </td>
        <td>Bellaire</td>
        <td>November 2006</td>
        <td>3:19</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/610_bellaire_best90_360x240.wmv">18 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/610_bellaire_best90_720x480.wmv">54 MB</a></b>

        </td>
    </tr>

    <tr>
        <td>
            <b>US 59</b><br>
            Southwest Freeway 
		
        </td>
        <td>Montrose
            Trench</td>
        <td>August 2006</td>
        <td>1:59</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/59s_trench_august2006_360x240_best_90.wmv">12 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/59s_trench_august2006_720x480_best_90.wmv">35 MB</a></b>

        </td>
    </tr>


    <tr>
        <td>
            <b>Interstate 10</b><br>
            East Freeway 
		
        </td>
        <td>Loop 610 to downtown</td>
        <td>April 2006</td>
        <td>3:49</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/10e_360x240_best90.wmv">26 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/10e_720x480_best90.wmv">72 MB</a></b>

        </td>
    </tr>

    <tr>
        <td>
            <b>SH 288</b><br>
            South Freeway 
		
        </td>
        <td>Loop 610 to
            downtown</td>
        <td>March 2006</td>
        <td>2:27</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/288_2005-03-14_360x240_best90.wmv">17 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/288_2005-03-14_720x480_best90.wmv">47 MB</a></b>

        </td>
    </tr>

    <tr>
        <td>
            <b>Coastal Drive</b>

        </td>
        <td>Freeport to Galveston</td>
        <td>March 2006</td>
        <td>6:46</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/gulf_coast_12-2005_360x240_best93.wmv">49 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/gulf_coast_12-2005_720x480_best90.wmv">122 MB</a></b>

        </td>
    </tr>

    <tr>
        <td>
            <b>Westpark Tollway</b>

        </td>
        <td>Full length</td>
        <td>December 2005</td>
        <td>4:00</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/westpark_best93_360x240.wmv">30 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/westpark_720x480_best90.wmv">67 MB</a></b>

        </td>
    </tr>

    <tr>
        <td>
            <b>SH 87</b>
            <br>
            Coastal Highway<br>
            Washed-out section
		
        </td>
        <td>High Island</td>
        <td>December 2005</td>
        <td>4:25</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/sh87_washed_out_best93_360x240.wmv">28 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/sh87_washed_out_best90_720x480.wmv">64 MB</a></b>

        </td>
    </tr>

    <tr>
        <td>
            <b>SH 87</b>
            <br>
            Coastal Highway<br>
            Complete Video
		
        </td>
        <td>Galveston to High Island</td>
        <td>December 2005</td>
        <td>7:00</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/sh87_best93_360x240.wmv">58 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/sh87_best90_720x480.wmv">122 MB</a></b>

        </td>
    </tr>


    <tr>
        <td>
            <b>Interstate 10</b>
            <br>
            Construction
		
        </td>
        <td>Loop 610 to BW8</td>
        <td>December 2005</td>
        <td>4:00</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/10w_construction_11-28-2005_best97_360x240.wmv">58 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/10w_construction_11-28-2005_best90_720x480.wmv">83 MB</a></b>

        </td>
    </tr>


    <tr>
        <td>
            <b>Five-Level Interchange</b>
            <br>
            Gulf Freeway/Beltway 8
		
        </td>
        <td>Southeast Houston</td>
        <td>July 2005</td>
        <td>1:51</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/45s_bw8_stack_360x240_best97.wmv">23 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/45s_bw8_stack_720x480_best93.wmv">43 MB</a></b>

        </td>
    </tr>


    <tr>
        <td><b>US 59 South</b>
            <br>
            Southwest Freeway
		
        </td>
        <td>Part 1<br>
            Inside Loop 610</td>
        <td>June 2004</td>
        <td>6:00</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/59s_inner_loop_best93_360x240.wmv">55 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/59s_inner_loop_best93_720x480.wmv">162 MB</a></b>

        </td>
    </tr>

    <tr>
        <td><b>US 59 South</b>
            <br>
            Southwest Freeway
		
        </td>
        <td>Part 2<br>
            Outside Loop 610</td>
        <td>June 2004</td>
        <td>4:38</td>
        <td class="interior_middle">180x120 <b><a href="http://www.oscarmail.net/video/59s_outer_loop_180x120_best97.wmv">24.0 MB</a></b>
            <br>
            320x240 <b><a href="http://www.oscarmail.net/video/59s_outer_loop_360x240_good97.wmv">64.3 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/59s_outer_loop_720x480_best93.wmv">116 MB</a></b>

        </td>
    </tr>

    <tr>
        <td class="interior_left"><b>US 59 North</b><br>
            Eastex Freeway
		
        </td>
        <td>Downtown to Kingwood</td>
        <td>February 2004</td>
        <td>6:27</td>
        <td class="interior_middle">360x240 <b><a href="http://www.oscarmail.net/video/59n_360x240_best93.wmv">56 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/59n_720x480_best90.wmv">129 MB</a></b>

        </td>
    </tr>

    <tr>
        <td class="interior_left"><b>SH 146</b><br>
            Fred Hartman Bridge
		
        </td>
        <td>Baytown</td>
        <td>February 2004</td>
        <td>3:06</td>
        <td class="interior_middle">360x240 <b><a href="http://www.oscarmail.net/video/146_bridge_360x240_best93.wmv">21 MB</a></b>
            <br>
            640x480 <b><a href="http://www.oscarmail.net/video/146_bridge_640x480_best93.wmv">56 MB</a></b>

        </td>
    </tr>

    <tr>
        <td class="interior_left"><b>Spur 527</b>

        </td>
        <td>US 59 to Brazos Street</td>
        <td>January 2004<br>
            <span class="small_text">updated 10-Feb-04</span></td>
        <td>3:12</td>
        <td class="interior_middle">360x240 <b><a href="http://www.oscarmail.net/video/spur527_360x240_best93_updated_2004-02-10.wmv">29 MB</a></b>

            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/spur527_720x480_best90_updated_2004-02-10.wmv">65 MB</a></b>

        </td>
    </tr>

    <tr>
        <td><b>Interstate 10 West</b>
            <br>
            Katy Freeway
		
        </td>
        <td>Downtown to Loop 610</td>
        <td>January 2004<br>
            <span class="small_text">Revised July 2004</span></td>
        <td>3:38</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/10w_downtown_to_610_matthews_best97_360x240.wmv">49.2 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/10w_downtown_to_610_matthews_best93_720x480.wmv">93 MB</a></b>

        </td>
    </tr>

    <tr class="subheading">
        <td colspan="5"><span>Dallas</span></td>
    </tr>

    <tr>
        <td>
            <b>Dallas</b>
            <br>
            GBT/190 Opening
		
        </td>
        <td>Northwest of Dallas</td>
        <td>September 2005</td>
        <td>3:53</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/190_opening_2005-09-09_best97_360x240.wmv">30 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/190_opening_2005-09-09_best93_720x480.wmv">55 MB</a></b>

        </td>
    </tr>

    <tr>
        <td class="interior_left">
            <b>Dallas
                <br>
                High Five</b>

        </td>
        <td>US 75 at IH-635 </td>
        <td>March 2005</td>
        <td>3:18</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/high_five_2005-03-20_best97_360x240.wmv">44 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/high_five_2005-03-20_best93_720x480.wmv">78 MB</a></b>
        </td>
    </tr>

    <tr>
        <td class="interior_left"><b>Dallas
            <br>
            Central Expressway</b>

        </td>
        <td>Downtown to Walnut Hill</td>
        <td>February 2004</td>
        <td>6:48</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/75_central_320x240_best93.wmv">53 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/75_central_720x480_best90.wmv">127 MB</a></b>

        </td>
    </tr>


    <tr class="subheading">
        <td colspan="5"><span>Road Trip</span></td>
    </tr>

    <tr>
        <td>
            <b>Arches</b><br>
            National Park
		
        </td>
        <td>Moab, Utah</td>
        <td>January 2006</td>
        <td>3:35</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/arches_2006-01-08_360x240_best93.wmv">30 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/arches_2006-01-08_720x480_best90.wmv">68 MB</a></b>

        </td>
    </tr>

    <tr>
        <td>
            <b>Elevated Train</b><br>
            Jerome Ave.
		
        </td>
        <td>Bronx, New York</td>
        <td>October 2005</td>
        <td>3:54</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/nyc_bronx_best93_360x240.wmv">49 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/nyc_bronx_best93_720x480.wmv">149 MB</a></b>

        </td>
    </tr>

    <tr>
        <td>
            <b>Burned out bridge</b>
            <br>
            Old US 90
		
        </td>
        <td>TX-LA Border</td>
        <td>May 2005</td>
        <td>2:41</td>
        <td class="interior_middle">320x240 <b><a href="http://www.oscarmail.net/video/90_burned_out_bridge_360x240_best_97.wmv">67 MB</a></b>
            <br>
            720x480 <b><a href="http://www.oscarmail.net/video/90_burned_out_bridge_720x480_best_93.wmv">131 MB</a></b>

        </td>
    </tr>


</table>

<p>
    </td></tr>										
		</table>
		
		<p>
            &nbsp;
		<p>
