@{
    ViewBag.Title = "West Loop Bus Lanes";
}

<style>
    body { 
     font-family: 'Segoe UI', sans-serif; font-size: 18px; }

    .problem-heading, .comment-heading { font-weight: bold; font-size: 1.1em; margin: 28px 0 4px 0; }
        .problem-heading:before { counter-increment: index; content: counter(index) ". "; }

    .index-list {padding-top: 10px; padding-bottom: 2px;}
    .index-list:before { counter-increment: index; content: counter(index) ". ";}

    .textItem {padding: 6px 0 6px 0; max-width: 950px; margin-left: 6px;}

    .problem-solution span:nth-child(1) { font-weight: bold; color:dodgerblue; }
    .problem-solution span:nth-child(2) {  }
    .problem-solution img { display: inline-block; }

    h2 { font-weight: bold; font-size: 1.5em; padding: 12px 0 4px 0; margin: 0 0; }
    h3 { font-weight: bold; font-size: 1.3em; padding: 0 0 8px 0; margin: 0 0; }
    .textblock { max-width: 650px; padding: 8px 0; }
        .textblock div { padding: 4px 0 2px 0; }
    ul { margin: 0px 0 8px 0; }


    li {padding: 6px 0 6px 0; }

        ul, ol {
    padding-left:23px;
    margin-top: 0px;
}​

    img { display: block; }

    .bold { font-weight: bold; }
    .red { color: red; }

    .reset-counter { counter-reset: index; }
    .italic { font-style: italic; }
    a {
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline;
    color: red; }


    .statusYes, .statusNo, .statusTBD { padding-left: 28px; margin: 8px 0; line-height: 155%; min-height: 25px;}
  /*.statusYes { background: url(../../images/plan-analysis/checkmark.png) no-repeat 0 6px; }*/
@*  .statusYes { background: url(@Url.Content("~/images/plan-analysis/tbd-14h.png")) no-repeat 0 6px; 	background-position: 10px 0px; }*@
    .status { margin-left: 20px;}
  .status img { display: inline-block; padding-left: 4px; padding-right: 4px;}
   .status::before {
    content: "Status: ";
    font-weight: bold; color:dodgerblue;

} 
    
    .itemStatus {font-weight: bold; }
    .itemStatusText { margin-left: 20px; max-width: 800px; padding-bottom: 12px !important;}

    .status-box {
        border-color: red;
        border-width: 2px;
    border-style: solid;
    background-color: rgb(255,218,218);
    width: 92%;
    font-size: 110%;
    padding: 12px 18px 18px 18px;
    margin-bottom: 16px;
    }
</style>
<a name="top"></a>

<h2>Critique and Suggested Modification</h2>
<h3>for the Proposed West Loop Bus Lanes</h3>

<div class="textblock"> <span class="italic" style="padding-right: 30px;">Page created April 9, 2016, last updated June 1, 2016</span> </div>

<div class="status-box">
    <b>June 1, 2016 Update:</b> TxDOT will not make any changes to the design presented at the April 2016 public meeting. 
    <div style="padding: 10px 0;">This means that all the flaws described below will be carried forward to construction.</div>
    This is unfortunate, because retaining the substandard design at Post Oak Road will limit the potential benefits of the facility and introduce undesirable side effects, including slower bus service, narrow lanes on Loop 610, disruption of the main lanes during construction, and increased cost and difficulty for building the proposed express lanes.
</div>

@*<div class="textblock" style="max-width: 850px;"> <span class="italic bold" style="padding-right: 30px;">Updated April 9, 2016 (add comments on Purple City plan)</span> </div>*@

<div class="textblock">Comments and feedback to <a href="mailto:houston@oscarmail.net">Houston@oscarmail.net</a></div>

<div class="textblock"><a href="#diagram">Go to diagram with better design</a></div>


<div class="textItem">
Extending a transit lane facility from the Northwest Transit Center to the planned South Post Oak Road bus lanes is a highly sensible plan to improve the level of service for commuters using buses on the Katy Freeway managed lanes and the US 290 HOV lane. TxDOT is conducting a <a href="http://www.txdot.gov/inside-txdot/get-involved/about/hearings-meetings/houston/041216.html">public meeting</a> for the proposed design on Tuesday April 12, 2016.
</div>

<div class="textItem">However, the southern terminus at Post Oak Boulevard is poorly designed, and the proposed design will add to travel time and limit future options for the use of the transit lanes. Below is a listing of problems and design issues of the proposed design between Post Oak Blvd and Buffalo Bayou. </div>

@*A design which stays along the southbound frontage road, bypasses the Post Oak/West Loop intersection and connects directly into the Post Oak bus lanes is much more sensible for an efficient, flexible facility.*@

@*<div class="textItem">In the proposed design, the elevated bus lanes are normally positioned along the southbound frontage road, but north of the Post Oak Road intersection the bus lanes are positioned in the center of the freeway and connect with Post Oak Road in the middle of the intersection, at ground level underneath the overpass. This introduces several undesirable features which will have a negative effect on the performance of the transit lanes. </div>*@

@*<div class="textItem">Below is a listing of problems and design issues of the proposed design between Post Oak Blvd and Buffalo Bayou</div>*@

<div class="textItem">
<ol>
    <li>Buses must pass through the signalized intersection at Post Oak and the Loop 610 frontage road, introducing a delay and reducing service quality.</li>

    <li>The sharp "S" curve just south of Buffalo Bayou will slow down buses, and likely be a safety hazard for other vehicles.</li>

    <li>There is the potential that traffic backed up onto the southbound Post Oak lanes under the overpass (going west at this point) will block access to the bus lane.</li>

    <li>Going southbound, the proposed design will require very low volume for vehicles using the bus lane, otherwise backups may occur since there is no "collection" area for vehicles at the signal in the middle of the intersection with Post Oak Road. This will preclude the potential future use of the bus lane by vanpools, carpools or toll-paying vehicles.</li>

    <li>Bringing the elevated structure down to ground level in the center of the Loop 610 main lanes will require the Loop 610 main lanes to be reduced to 11 feet wide.</li>

    <li>During the construction period, there will be a disruption to the main lanes, which could be significant due to the already-severe traffic congestion on the main lanes. Keeping the transit facility along the southbound frontage road will avoid or minimize disruptions to the main lanes.</li>

    <li>Positioning the bus lanes in the middle of the freeway requires an undesirable shift of the proposed <a href="http://www.txdot.gov/inside-txdot/get-involved/about/hearings-meetings/houston/121015.html">elevated express lanes</a>, which is a separate project currently under study. The large express lanes structure must be shifted to the east edge of the freeway right-of-way and would have a much larger impact on the properties on the east side of the freeway. This shift adds to the construction cost, increases disruption of the main lanes during construction, and introduces undesirable curves in the proposed express lanes. </li>

        <li><b>Attention political leaders: </b> Limiting the transit lanes to buses only could be a public relations problem, since it will be empty except for a bus every few minutes, while thousands of people will be crawling or idle on the main lanes. Carpools and motorists will be asking "Why can't we use those lanes since they are empty most of the time?"</li>

</ol>
</div>
<div class="textItem">
    A better design is to keep the bus lanes along the southbound frontage road for the entire length, and then directly connect the elevated bus lanes into the ground level bus lanes on South Post Oak road, bypassing the traffic signal at Post Oak Road. 
</div>
<div class="textItem">
    <ul>
        <li>Provide faster service by avoiding the Post Oak Boulevard intersection</li>

        <li>Eliminate the S-curve slowdown and safety hazard by removing the S-curve</li>

        <li>Eliminate or greatly reduce impacts to the main lanes during construction</li>

        <li>Preserve options for future use of the transit lanes, possibly for vanpools, HOV/carpools and toll-paying vehicles</li>

        <li>Allow a better design for the proposed future elevated express lanes</li>

    </ul>


<div class="textarea">
    If you agree that keeping the bus lane structure along the frontage road is better, you can submit your comments to TxDOT via email at <a href="mailto:HOU-PIOWebmail@txdot.gov?subject=West Loop Dedicated Bus Lane">HOU-PIOWebmail@txdot.gov</a>, saying something like
    "TxDOT should change the design of the busway so that it stays along the southbound frontage road and bypasses the Post Oak Blvd intersection. This will improve transit service, retain more options for future use, and minimize impacts to the main lanes during construction".
</div>
    <a name="diagram"></a>
    <div>&nbsp;</div>
<div>
<img src="@Url.Content("~/images/west-loop-bus-lanes/610-bus-lanes.jpg")" /> 
</div>

    <div style="padding-bottom: 8px;"><br />Below is a diagram of the proposed design at Post Oak Boulevard, which is underneath the overpass in the middle of the intersection.</div>
<div>
<img src="@Url.Content("~/images/west-loop-bus-lanes/post-oak.jpg")" /> 
</div>

<div>&nbsp;</div>