<?xml version="1.0"?>
<configuration>

  <system.webServer>
    <directoryBrowse enabled="false" showFlags="Date,Time,Extension,Size" />
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.html" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>

